@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
* {
	color: rgb(74, 74, 67);
}

.nav-link:hover {
	border-bottom: 1px solid black;
}

header {
	background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/dossenbach0a5yk/main2-A0xK3w5v20ulGZKB.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 768px) {
	.hero {
		width: 100% !important;
		display: flex;
		flex-direction: column;
		align-items: center !important;
		justify-content: center !important;
	}
	nav div {
		width: 100% !important;
	}
}

@media (min-width: 769px) {
	.header-name {
		font-size: 7rem !important;
		font-family: "Libre Caslon Display", serif;
	}
}

.header-name {
	font-family: "Libre Caslon Display", serif;
}

.heading,
body > main > section > div.d-flex.gap-4 > div > h4 {
	font-family: "Libre Caslon Display", serif;
}

.heading.text-center {
	font-size: 3.5rem;
}

.p-text {
	font-size: 0.9rem;
}

.background {
	background-color: #f3f3f2;
}

body > main > section:nth-child(4) {
	background-color: #878780;
}

body > footer {
	background-color: #4a4a43;
}
